
body{
    background-color: rgb(21, 124, 35);
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
main {
    box-sizing: border-box;
    background-color: rgb(134, 134, 136);
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
}

fieldset {
    
}